/* CSS declarations go here */
html>body {
  background-color: #d1d5de;
}
h1, h2, h3 ,h4 ,h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold!important;
}

p, a, label, input {
  font-family: 'Rubik', sans-serif;
}
.contenido{
  padding-right: 5vw;
  padding-left: 5vw;
}

.logo{
  max-width: 15vw;
  max-height: 15vw;
}

.centered {
    display:flex;
    align-items:center;
    justify-content:center;
}

.btn-secondary {
    color: #fff;
    background-color: #081790;
    border-color: #081790;
}

.btn-danger {
    color: #fff;
    background-color: #ee6352;
    border-color: #ee6352;
}

/* barchar */
.axis .domain {
  display: none;
}

/* end barchar */
